{% extends "layouts/app.html" %}
{% load static %}

{% block title %} LogiMel-Accueil {% endblock %}

{% block content %}

       <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Affaire</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
      <!-- our product -->
      <div class="product">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">

                     <span>We package the products with best services to make you a happy customer.</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="product-bg">
         <div class="product-bg-white">
         <div class="container">
            <div class="row" style="padding-left: 5%; display: block;">
               <div>
                  <div class="product-box" style="margin-left: 20px;"> 
                     <i><img style="height: 400px;" src="{% static 'assets/icon/p1.png' %}"/></i>
                     <h3>Suivi des étudiants</h3>
                     <p>LOGIMEL offre une assistance saisoniere aux etudiants gabonais,
                        diponible entre aout et octobre, pour les aider à preparer leur départ à l'étranger.
                     </p>
                     <div class="col-md-12">
                        <a class="read-more {% if request.path == '/nos_service/medical/' %}active{% endif %}" href="{% url 'medical' %}">Lire plus</a>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="product-box" style="margin-left: 20px;">
                     <i><img style="height: 400px;" src="{% static 'assets/icon/p2.png' %}"/></i>
                     <h3>Autres affaires</h3>
                     <div class="col-md-12">
                        <a class="read-more {% if request.path == '/nos_service/medical/' %}active{% endif %}" href="{% url 'medical' %}">Lire plus</a>
                     </div>
                  </div>
               </div>
               
              
            </div>
         </div>


{% endblock %}

