{% extends "layouts/app.html" %}
{% load static %}

{% block title %} LogiMel-Accueil {% endblock %}

{% block content %}

       <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Logistique</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
      <!-- our product -->
      <div class="product">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">

                     <span>LOGIMEL propose un service d'assistance transport et logistique spécialement
                        conçu pour repondre aux besoins des commerçants qui importent des marchandises dans leur pays.
                        Ce service couvre la gestion complete du processus d'importation, en garantissant que les produits
                        arrivent à destination de maniere efficace et sans complication.
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="product-bg">
         <div class="product-bg-white">
         <div class="container">
            <div class="row" style="display: block;">
               <div>
                  <div class="product-box">
                     <i><img style="margin-bottom: 20px;" src="{% static 'assets/images/transport1.jpg' %}"/></i>
                     <p style="text-align: justify; width: 100%; margin-left: 20px;">
                        LOGIMEL se charge de toutes les demarches nécessaires pour assurer l'importation des marchandises.
                        Cela inclut: <br>
                        
                        La coordination avec les fournisseurs et les transporteurs à l'étranger pour 
                        garantir que les marchandises sont correctement expédiées vers le pays. <br>
                    
                        La gestion des formalités douanieres, incluant la documentation requise, le 
                        dedouanement, et la conformité avec les regles locales d'importation. <br>

                        L'organisation du transport des marchandises depuis le port ou l'aéroport
                        d'entrée jusqu'à l'adresse finale dans le pays. Cela inclut ùa gestion des
                        itinéraires et des méthode de transport(routier, aérien, maritime). <br>
                        LOGIMEL assure que les marchandises des commerçants sont prises en charge
                        à chaque étape, minimisant les risques de retard, de pertes ou de dommages.
                     </p>
                  </div>
               </div>
               <div>
                  <div class="product-box">
                     <i><img style="margin-bottom: 20px;" src="{% static 'assets/images/transport3.jpg' %}"/></i>
                     <p style="text-align: justify; width: 100%; margin-left: 20px;">
                        LOGIMEL ne se contente pas de gérer la logistique générale; elle prend également
                        en compte les besoins spécifiques de chaque commerçants. Ce service personnalisé inclut: <br>

                        <b>L'évaluation des besoins: </b>LOGIMEL collabore avec les commerçcants pour
                        comprendre les produits qu'ils qu'ils souhaitent importer, les quantités ou le temps
                        de livraison. <br>

                        <b>Commande et suivi: </b>En fonction des besoins définis, LOGIMEL peut passer
                        les commandes directement aupres des fournisseurs à l'étranger pour le compte des 
                        commerçants. Cela permet d'éviter des erreurs de communication et de faciliter l'acquisition de produits,
                        en particulier pour ceux qui ne metrisent pas les démarches internationales. <br>

                        <b>Suivi et rapport d'avancement: </b>Une fois la commande passée, LOGIMEL suit l'ensemble du processus
                        et tient le commerçant informé de l'état d'avancement de ses marchandises à chaque étape du transport
                     </p>
                  </div>
               </div>
            </div>
         </div>


{% endblock %}

