{% extends "layouts/app.html" %}
{% load static %}

{% block title %} LogiMel-Accueil {% endblock %}

{% block content %}


       <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Medical</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
      <!-- our product -->
      <div class="product">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">

                     <span>LOGIMEL apporte une assistance medicale complete aux personnes souhaitant se rendre à l'étranger pour des soins, quelque soit la destination.</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="product-bg">
         <div class="product-bg-white">
         <div class="container">
            <div class="row" style="display: block;">
               <div>
                  <div class="product-box" >
                     <i ><img style="margin-bottom: 20px;" src="{% static 'assets/images/images1.jpg' %}"/></i>
                     <p style="text-align: justify;">Avant votre depart, LOGIMEL vous forme aux termes
                        medicaux de base en plusieurs langues(Marocain, Turc, Anglais, etc...)
                        pour faciliter leur interaction avec les services de santé sur place.
                        Cela inclut des termes liés aux consultations médicales, aux urgences et aux soins de base.
                     </p>
                  </div>
               </div>
               <div>
                  <div class="product-box">
                     <i><img style="margin-bottom: 20px;" src="{% static 'assets/images/images.jpg' %}"/></i>
                     <p style="text-align: justify; width: 100%; margin-left: 20px;">
                        LOGIMEL vous permet de réaliser une pré-consultation au Gabon. Cela permet d'évaluer
                        votre situation médicale et de préparer au mieux votre prise en charge à l'étranger.</p>
                  </div>
               </div>
               <div>
                  <div class="product-box">
                     <i><img style="margin-bottom: 20px;" src="{% static 'assets/images/medical.webp' %}"/></i>
                     <p style="text-align: justify; width: 100%; margin-left: 20px;">
                        LOGIMEL s'assure que vous bénéficiez d'un suivi médical continu dans ces pays.
                        Grace à ses partenariats avec plusieurs hopiteaux, l'entreprise peut organiser des consultations
                        adaptées et garantir une prise en charge optimale. Ce soutien inclut la traduction et l'interpretation
                        des besoins médicaux dans les hopiteaux partenaires, entrainant ainsi tout malentendu linguistique qui pourrait
                        nuire à la qualité des soins.
                     </p>
                  </div>
               </div>
               </div>
            </div>
         </div>


{% endblock %}

