{% extends "layouts/app.html" %}
{% load static %}

{% block title %} LogiMel-Accueil {% endblock %}

{% block content %}

<div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Tourisme d'affaire</h2>
                </div>
            </div>
        </div>
    </div>
 </div>

 <div class="product" >
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <div class="title">
                   <span>En dehors de l’importation, LOGIMEL diversifie ses services pour répondre à d'autres besoins 
                    dans les affaires internationales. </span>
               </div>
           </div>
       </div>
   </div>
</div>

 <div class="product-bg">
    <div class="product-bg-white">
    <div class="container">
       <div class="row" style="display: block;">
          <div>
             <div class="product-box" style="text-align: justify; background-color: white;">
                <h2>Tourisme d'affaires</h2>
                <p>
                    LOGIMEL organise des voyages d'affaires, des conférences et des séminaires pour les 
                    entreprises locales et internationales. Il propose également des services haut de gamme 
                    pour les investisseurs étrangers, en facilitant leurs déplacements et leurs rencontres 
                    d'affaires au Gabon et en Afrique centrale. <br>

                   <b style="color: black;">Organisation de voyages d'affaires et d’événements: </b> Proposer des services pour 
                    organisateur de séminaires, conférences, ou voyages d'affaires pour les entreprises locales 
                    et internationales. <br>

                   <b style="color: black;">Voyages d'étude et de prospection:</b> Faciliter les voyages d'études pour les entreprises 
                    gabonaises cherchant à explorer des opportunités d'investissement ou de commerce à 
                    l'étranger. <br>

                   <b style="color: black;">Services VIP pour investisseurs et entreprises:</b> Offrir des services haut de gamme 
                    pour les investisseurs étrangers, incluant des visites guidées, des rencontres d'affaires, et 
                    la gestion de leurs déplacements. <br>

                    <h2>Facilitation des Investissements Internationaux</h2>

                    LOGIMEL aide les investisseurs à identifier des opportunités en Afrique centrale et les 
                    accompagne dans les démarches juridiques et administratives pour naviguer à travers les 
                    régulations locales. Ce service inclut également la mise en relation avec des partenaires 
                    locaux pour développer des projets communs.

                    <h2>Accompagnement des Startups et PME</h2>
                     
                    LOGIMEL soutient les startups et PME gabonaises avec des programmes d'incubation, de 
                    mentorat et de réseautage. Il aide les entreprises à développer leurs produits pour les 
                    marchés internationaux, en veillant à ce qu'ils respectent les normes de qualité et de 
                    conformité réglementaire


                </p>

             </div>
          </div>
       </div>
    </div>
 </div>
 
 






{% endblock %}