{% extends "layouts/app.html" %}
{% load static %}

{% block title %} LogiMel-A Propos {% endblock %}

{% block content %}

<div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Présentation générale de l’entreprise.</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>


<div class="about">
   <div class="container">
      <div class="row">
         <dir class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
            <div class="about_box">
               <figure><img src="{% static 'assets/images/logo_logimel_canva_commentaire.png' %}"/></figure>
            </div>
         </dir>
          <dir class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="about_box">
               <h3>Qui est LOGIMEL</h3>
               <p>Voyager à l’étranger, que ce soit pour des études ou pour des affaires, présente de nombreux
                    défis, tant sur le plan logistique qu'administratif. En effet, de nombreuses personnes font
                    face à diverses complexités lorsqu’ils doivent s’installer dans un nouveau pays ou importer
                    des marchandises. Des obstacles courants peuvent inclure la barrière de la langue, l’accès
                    aux services de santé, ainsi que la maîtrise des démarches administratives, nécessaires
                    pour le séjour ou l'importation de biens.</p>
               <p> C'est dans ce contexte que notre entreprise LOGIMEL, basée au Gabon, intervient. Elle se
                    spécialise dans l’assistance aux citoyens gabonais à l’étranger et dans le soutien aux commerçants
                    souhaitant importer des marchandises au Gabon. Grâce à son expertise, elle aide ses clients à se
                    concentrer sur l’essentiel : réussir leurs études ou leurs affaires à l'international, en toute sérénité.
                    L’intérêt de LOGIMEL est d’étendre ses services dans les pays d'Afrique centrale, consolidant
                    ainsi son rôle dans la région.
                    Dans cette présentation, nous aborderons les différents aspects des services offerts par LOGIMEL,
                    en développant les points ci-dessous.</p>
            </div>
         </dir>
      </div>
   </div>
</div>

<!-- CHOOSE  -->
<div class="whyschose">
   <div class="container">

      <div class="row">
         <div class="col-md-7 offset-md-3">
            <div class="title">
               <h2> <strong class="black"></strong></h2>
               <span>-----------------------------------------------</span>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end CHOOSE -->


{% endblock %}

