 <footr>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 offset-md-3">
                     <ul class="sociel">
                         <!-- <li> <a href="https://www.facebook.com/profile.php?id=61567025548714&mibextid=LQQJ4d"><i class="fa fa-facebook-f"></i></a></li> -->
                         <!-- <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                         <li> <a href="#"><i class="fa fa-instagram"></i></a></li> -->
                     </ul>
                  </div>
            </div>
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>Contactez-nous</h3>
                     <span>
                       +241 65092616 <br> +241 77246404</span>
                  </div>
               </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>LIENS SUPPLÉMENTAIRES</h3>
                     <ul class="lik">
                         <li class="{% if '/about/' in request.path %}active{% endif %}"> <a href="{% url 'about' %}">À propos de nous</a></li>
                         <li class="{% if '/actualite/' in request.path %}active{% endif %}"> <a href="{% url 'actualite' %}">Actualités</a></li>
                        <li class="{% if '/contact/' in request.path %}active{% endif %}"> <a href="{% url 'contact'%}">Contactez-nous</a></li>
                     </ul>
                  </div>
               </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>Service</h3>
                      <ul class="lik">
                    <li class="{% if '/logistique/' in request.path %}active{% endif %}"> <a href="{% url 'logistique' %}">Logistique</a></li>
                         <li class="{% if '/medical/' in request.path %}active{% endif %}"> <a href="{% url 'medical' %}">Médical</a></li>
                         <li> <a href="{% url 'affaire' %}">Affaires</a></li>
                  </div>
               </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>À propos de LogiMel</h3>
                     <span>Logimel est une entreprise spécialisée dans l'assistance aux services, offrant un soutien dans divers secteurs. </span>
                  </div>
               </div>
            </div>
         </div>
            <div class="copyright">
               <p>Droits d'auteur 2024 Tous droits réservés par <a href="https://html.design/">logimel</a> company <a href="https://themewagon.com/">logimel </a></p>
            </div>

      </div>
 </footr>
      <!-- end footer -->

