{% extends "layouts/app.html" %}
{% load static %}

{% block title %} LogiMel-A Propos {% endblock %}

{% block content %}

<div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Commentaires</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>


<div class="about">
   <div class="container">
      <div class="row">
         <dir class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
            <div class="about_box">
               <figure><img src="{% static 'assets/images/logo_logimel_canva_commentaire.png' %}"/></figure>
            </div>
         </dir>
          <dir class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="about_box">
               <h3>Qui est LOGIMEL</h3>
               <p>Logimel est une entreprise spécialisée dans l'assistance aux services, offrant un soutien dans divers secteurs.</p>
               <p> Elle se distingue par son expertise en matière d'assistance au transport international de biens, de tourisme d'affaires et de tourisme médical. De plus, Logimel joue un rôle clé dans l'accompagnement et l'intégration des étudiants à l'étranger, leur offrant un soutien complet pour faciliter leur transition et leur réussite dans un nouveau cadre international.</p>
            </div>
         </dir>
      </div>
   </div>
</div>

<!-- CHOOSE  -->
<div class="whyschose">
   <div class="container">

      <div class="row">
         <div class="col-md-7 offset-md-3">
            <div class="title">
               <h2>Pourquoi <strong class="black">nous choisir</strong></h2>
               <span>La réparation la plus rapide au meilleur prix !</span>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="choose_bg">
   <div class="container">
      <div class="white_bg">
      <div class="row">
         <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="for_box">
               <i><img src="{% static 'assets/icon/1.png' %}"/></i>
               <h3>Récupération de données</h3>
               <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
            </div>
         </dir>
         <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="for_box">
               <i><img src="{% static 'assets/icon/2.png' %}"/></i>
               <h3>Réparation d'ordinateurs</h3>
               <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
            </div>
         </dir>
         <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="for_box">
               <i><img src="{% static 'assets/icon/3.png' %}"/></i>
               <h3>Service mobile</h3>
               <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
            </div>
         </dir>
         <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="for_box">
               <i><img src="{% static 'assets/icon/4.png' %}"/></i>
               <h3>Solutions réseau</h3>
               <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
            </div>
         </dir>
         <div class="col-md-12">
            <a class="read-more">Lire plus</a>
         </div>
      </div>
   </div>
 </div>
</div>
<!-- end CHOOSE -->

<!-- service -->
<div class="service">
   <div class="container">
      <div class="row">
         <div class="col-md-8 offset-md-2">
            <div class="title">
               <h2>Nos <strong class="black">Services</strong></h2>
               <span>Une manière facile et efficace d'avoir un bon suivi à l'etranger avec LOGIMEL</span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="service-box">
               <i><img src="{% static 'assets/icon/truck.png' %}"/></i>
               <h3>Logistique</h3>
               <p>
                  LOGIMEL propose un service d'assistance transport et logistique 
                  specialement conçu pour . . .
               </p>
               <div class="col-md-12">
                  <a class="read-more {% if request.path == '/nos_service/logistique/' %}active{% endif %}" href="{% url 'logistique' %}">Lire plus</a>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="service-box">
               <i><img src="{% static 'assets/icon/medical.png' %}"/></i>
               <h3>Medical</h3>
               <p>
                  LOGIMEL apporte une assistance medicale complete aux personnes souhaitant
                  se rendre à l'étranger . . .
               </p>
               <div class="col-md-12">
                  <a class="read-more {% if request.path == '/nos_service/medical/' %}active{% endif %}" href="{% url 'medical' %}">Lire plus</a>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="service-box">
               <i><img src="{% static 'assets/icon/affaire.png' %}"/></i>
               <h3>Affaire</h3>
               <p>
                  LOGIMEL vous propose un service adéquat pour mener à bien vos afffaires
                        à l'etranger en vous  . . .
               </p>
               <div class="col-md-12">
                  <a class="read-more {% if request.path == '/nos_service/affaire/' %}active{% endif %}" href="{% url 'affaire' %}">Lire plus</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end service -->

{% endblock %}

