{% extends "layouts/app.html" %}
{% load static %}

{% block title %} LogiMel-A Propos {% endblock %}

{% block content %}

<div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Commentaires</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>


<div class="about">
   <div class="container">
      <div class="row">
         <dir class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
            <div class="about_box">
               <figure><img src="{% static 'assets/images/logo_logimel_canva_commentaire.png' %}"/></figure>
            </div>
         </dir>
          <dir class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="about_box">
               <h3>Qui est LOGIMEL</h3>
               <p>Logimel est une entreprise spécialisée dans l'assistance aux services, offrant un soutien dans divers secteurs.</p>
               <p> Elle se distingue par son expertise en matière d'assistance au transport international de biens, de tourisme d'affaires et de tourisme médical. De plus, Logimel joue un rôle clé dans l'accompagnement et l'intégration des étudiants à l'étranger, leur offrant un soutien complet pour faciliter leur transition et leur réussite dans un nouveau cadre international.</p>
            </div>
         </dir>
      </div>
   </div>
</div>

<!-- CHOOSE  -->
<div class="whyschose">
   <div class="container">

      <div class="row">
         <div class="col-md-7 offset-md-3">
            <div class="title">
               <h2>Pourquoi <strong class="black">nous choisir</strong></h2>
               <span>La réparation la plus rapide au meilleur prix !</span>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="choose_bg">
   <div class="container">
      <div class="white_bg">
      <div class="row">
         <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="for_box">
               <i><img src="{% static 'assets/icon/1.png' %}"/></i>
               <h3>Récupération de données</h3>
               <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
            </div>
         </dir>
         <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="for_box">
               <i><img src="{% static 'assets/icon/2.png' %}"/></i>
               <h3>Réparation d'ordinateurs</h3>
               <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
            </div>
         </dir>
         <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="for_box">
               <i><img src="{% static 'assets/icon/3.png' %}"/></i>
               <h3>Service mobile</h3>
               <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
            </div>
         </dir>
         <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="for_box">
               <i><img src="{% static 'assets/icon/4.png' %}"/></i>
               <h3>Solutions réseau</h3>
               <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
            </div>
         </dir>
         <div class="col-md-12">
            <a class="read-more">Lire plus</a>
         </div>
      </div>
   </div>
 </div>
</div>
<!-- end CHOOSE -->

<!-- service -->
<div class="service">
   <div class="container">
      <div class="row">
         <div class="col-md-8 offset-md-2">
            <div class="title">
               <h2>Nos <strong class="black">Services</strong></h2>
               <span>Une manière facile et efficace de faire réparer votre appareil LOGIMEL</span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="service-box">
               <i><img src="{% static 'assets/icon/service1.png' %}"/></i>
               <h3>Service rapide</h3>
               <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="service-box">
               <i><img src="{% static 'assets/icon/service2.png' %}"/></i>
               <h3>Paiements sécurisés</h3>
               <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="service-box">
               <i><img src="{% static 'assets/icon/service3.png' %}"/></i>
               <h3>Équipe d'experts</h3>
               <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="service-box">
               <i><img src="{% static 'assets/icon/service4.png' %}"/></i>
               <h3>Services abordables</h3>
               <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="service-box">
               <i><img src="{% static 'assets/icon/service5.png' %}"/></i>
               <h3>Garantie de 90 jours</h3>
               <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="service-box">
               <i><img src="{% static 'assets/icon/service6.png' %}"/></i>
               <h3>Primé</h3>
               <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end service -->

{% endblock %}

